* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', serif;
  color: #271A45;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #271A45;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  max-width: 55rem;
  min-height: 31rem;
  padding: 2.5rem;
  border-radius: 0.75rem;
  background-color: #D9CDF7;
}

.product-image {
  position: relative;
}

.product-image > img {
  width: 100%;
}

.product-image button {
  position: absolute;
  top: 0;
  right: 2rem;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  cursor: pointer;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.product-code {
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
}

.product-name {
  font-family: "Crimson Pro";
  font-size: 2rem;
  font-weight: 600;
}

.product-price {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

.product-content button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: 0.5px solid #271A45;
  border-radius: 5rem;
  background: none;
  transition: 200ms;
  cursor: pointer;
}

.product-content button:hover {
  background-color: #271A4511;
}